:root {
  --red: rgb(190, 49, 68);
  --black: rgb(48, 56, 65);
  --grayish: rgb(58, 71, 80);
  --gray: rgb(211, 214, 219);
}

.contact {
  height: 35vh;
  background-color: var(--black);
}

.contact-wrapper {
  display: flex;
  background-color: var(--black);
  align-items: center;
}

.contact-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.left-header {
  margin: 3vh 0vw;
  color: var(--red);
  font-size: 30px;
  font-weight: 400;
}

.info-text {
  color: var(--gray);
  font-size: 20px;
  font-weight: 300;
}

.contact-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

input {
  width: 50%;
  height: 5vh;
  border: none;
  border-bottom: 1px solid var(--red);
  margin: 1rem 0rem;
  font-size: 14px;
  padding-left: 1rem;
  background-color: var(--grayish);
}

textarea {
  width: 50%;
  margin: 1rem 0rem;
  font-size: 14px;
  padding-left: 1rem;
  background-color: var(--grayish);
  border: none;
  border-bottom: 1px solid var(--red);
}

button {
  border: none;
  padding: 1rem;
  background-color: var(--red);
  columns: var(--gray);
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}
